<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="../static/css/style.css">
	<!link rel="stylesheet" href="style.css">
    
    <title>Employee Promotino Prediction</title>
</head>
<body background="/static/image/background.jpeg">>
	   
    <header class='speaker-form-header'>
        <h1>Employee Promotion Prediction</h1>
        <p><em>
            Fill details of the employee to check whether they should be promoted
            or not.
            <br>
            All fields are necessary. 
        </em></p>
    </header>
    

    <!-- Input Form -->
<div  class="input form">
    <form action="/predict" method="post" id="input head">
         
		 
		 
		 
            <legend>Employee ID </legend>
            <input type="number" name="id">

            <br>
            
			
            <legend>Age </legend>            

            <input id='age' name='age' type='number' placeholder="values 20 - 60" min="20" max="60" required />
            

            <br>
            
            <legend>Education</legend>
            <select name='education'>
                <option value="1" >Bachelor's</option>
                <option value="2">Master's & above</option>
                <option value='0'>Secondary and below</option>
            </select>
            <br>

        
                <legend>Gender</legend>
                <select name='gender'>
                    <option value='m'>Male</option>
                    <option value='f'>Female</option>
                </select>
            
            <br>

            <legend>Department</legend>
            <select name='department'>
                <option value="Finance">Finance</option>
                <option value="HR">HR</option>
                <option value='Legal'>Legal</option>
                <option value="Operations" >Operations</option>
                <option value="Procurement">Procurement</option>
                <option value='Technology'>Technology</option>
                <option value="Sales & Marketing">Sales & Marketing</option>
                <option value="Analytics">Analytics</option>
                <option value='R&D'>R&D</option>
            </select>
            <br>
            
            
            
            <legend>Region</legend>
            <input id='region' name='region' type='number' placeholder="values 1-34" max="34" min="1"required  />
            
            <br>

            <legend>Recruitment Channel</legend>
            <select name='recruitment'>
                <option value="sourcing" selected>Sourcing</option>
                <option value="referred">Referred</option>
                <option value='other'>Other</option>
            </select>
            <br>

        
            <legend>Num of trainings</legend>
            <input id='trainings' name='training' type='number' placeholder="values 0 - 10" max="10" min="0" required  />
            
            <br>

            
            <legend>Previous year ratings</legend>
            <input id='rating' name='rating' type='number' placeholder="values 1 - 5" min="1" max="5" required />
        
            <br>

        
            <legend>Length of service</legend>
            <input id='s_len' name='s_len' type='number' placeholder="values 1 - 37" min="1" max="37" required  />
                
        
            <br>
        
            <legend>Avg train score</legend>
            <input id='score' name='score' type='number' placeholder="values 39 - 99" min="40" max="99" required  />
                
        
            <br>
        
        
            <legend>KPI above 80%</legend>
			<div>
            <input id='yes'
            name='kpi'
            type='radio'
            value='1' 
            
            required  />
            <label for='yes' class='radio-label'>Yes</label>
            <input id='no'
            name='kpi'
            type='radio'
            value='0'
            required  />
            <label for='no' class='radio-label'>No</label>
</div>

<legend>Awards Won</legend>
        <div>
            
            <input id='yes'
            name='awards'
            type='radio'
            value='1' 
            
            required />
            <label for='yes' class='radio-label'>Yes</label>
            <input id='no'
            name='awards'
            type='radio'
            value='0' 
            required  />
            <label for='no' class='radio-label'>No</label>
			</div>
            <br>
            <button id="submit" type="submit">Submit</button>
    </form>

</div>
    






</body>
</html>